*~
/data
/build
/doxygen
*.tsv
/sim_imgs
*.so
*kdev4*
*.caffemodel
*.caffemodel.h5
*.pyc
*.out
*.zip
/tasks/R2R/data/*.json
/tasks/R2R/data/*_vocab.txt
tasks/CVDN/data/tasks/CVDN/data/*
tasks/NDH/data/tasks/NDH/data/*
tasks/NDH_NavHistConcat/data/tasks/NDH_NavHistConcat/data/*
tasks/NDH/plots/
tasks/NDH/results/
tasks/NDH_NavHistConcat/plots/
tasks/NDH_NavHistConcat/results/

